version: 2
updates:
- package-ecosystem: bundler
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10

- package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: weekly
      time: "02:00"
      timezone: "Etc/UTC"
  
