name: Bench

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-latest
    name: Benchmarks
    steps:
    - uses: actions/checkout@v6
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '4.0'
        bundler-cache: true

    - name: Generators
      run: RUBYOPT="-W0" bundle exec ruby benchmark/generators.rb
    - name: Require
      run: RUBYOPT="-W0" bundle exec ruby benchmark/require.rb

