# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    name: RuboCop
    runs-on: ubuntu-latest
    env:
      BUNDLE_WITHOUT: benchmark
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '4.0'
          bundler-cache: true

      - name: Run RuboCop
        run: bundle exec rake rubocop
  test:
    name: Ruby ${{ matrix.ruby }}
    runs-on: ubuntu-latest
    env:
      BUNDLE_WITHOUT: benchmark
    strategy:
      fail-fast: false # don't fail all matrix builds if one fails
      matrix:
        ruby:
          - '3.1'
          - '3.2'
          - '3.3'
          - '3.4'
          - '4.0'
          - 'head'
          - truffleruby-head
    continue-on-error: ${{ endsWith(matrix.ruby, 'head') }}
    steps:
    - uses: actions/checkout@v6
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true

    - name: Run tests
      run: bundle exec rake test
